In [1]:
import os
import pandas as pd

In [32]:
pd.set_option('display.max_rows', 500)

In [2]:
os.getcwd()

'D:\\SphoorthiFreeClasses\\python'

In [3]:
url="https://raw.githubusercontent.com/srisreedhar/DataSets/refs/heads/master/animal_sleeptime_ggplot2.csv"

In [4]:
# reading data and creating a dataframe 
df = pd.read_csv(url)
df

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
0,Cheetah,Acinonyx,carni,Carnivora,lc,12.1,NaN,NaN,11.9,NaN,50.000
1,Owl monkey,Aotus,omni,Primates,NaN,17.0,1.8,NaN,7.0,0.01550,0.480
2,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,NaN,9.6,NaN,1.350
3,Greater short-tailed shrew,Blarina,omni,Soricomorpha,lc,14.9,2.3,0.133333,9.1,0.00029,0.019
4,Cow,Bos,herbi,Artiodactyla,domesticated,4.0,0.7,0.666667,20.0,0.42300,600.000
...,...,...,...,...,...,...,...,...,...,...,...
78,Tree shrew,Tupaia,omni,Scandentia,NaN,8.9,2.6,0.233333,15.1,0.00250,0.104
79,Bottle-nosed dolphin,Tursiops,carni,Cetacea,NaN,5.2,NaN,NaN,18.8,NaN,173.330
80,Genet,Genetta,carni,Carnivora,NaN,6.3,1.3,NaN,17.7,0.01750,2.000
81,Arctic fox,Vulpes,carni,Carnivora,NaN,12.5,NaN,NaN,11.5,0.04450,3.380
82,Red fox,Vulpes,carni,Carnivora,NaN,9.8,2.4,0.350000,14.2,0.05040,4.230

### Understand the Data

In [5]:
# shape of data
# coloumn names/rows
# the first and last few rows of the data
# the null values if any in the dataset

In [6]:
# shape of data
# (rows,columns) 
# m x n
# rows x columns 
df.shape

(83, 11)

In [7]:
# coloumn names/rows
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83 entries, 0 to 82
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          83 non-null     object
 1   genus         83 non-null     object
 2   vore          76 non-null     object
 3   order         83 non-null     object
 4   conservation  54 non-null     object
 5   sleep_total   83 non-null     float64
 6   sleep_rem     61 non-null     float64
 7   sleep_cycle   32 non-null     float64
 8   awake         83 non-null     float64
 9   brainwt       56 non-null     float64
 10  bodywt        83 non-null     float64
dtypes: float64(6), object(5)
memory usage: 7.3+ KB

In [10]:
# the first and last few rows of the data
# .head(integer) by default when no arg is given returns first 5 values
# df.head(8)
df.head()

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
0,Cheetah,Acinonyx,carni,Carnivora,lc,12.1,NaN,NaN,11.9,NaN,50.000
1,Owl monkey,Aotus,omni,Primates,NaN,17.0,1.8,NaN,7.0,0.01550,0.480
2,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,NaN,9.6,NaN,1.350
3,Greater short-tailed shrew,Blarina,omni,Soricomorpha,lc,14.9,2.3,0.133333,9.1,0.00029,0.019
4,Cow,Bos,herbi,Artiodactyla,domesticated,4.0,0.7,0.666667,20.0,0.42300,600.000

In [11]:
# the first and last few rows of the data
# .tail(integer) by default when no arg is given returns first 5 values
# df.tail(8)
df.tail()

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
78,Tree shrew,Tupaia,omni,Scandentia,NaN,8.9,2.6,0.233333,15.1,0.0025,0.104
79,Bottle-nosed dolphin,Tursiops,carni,Cetacea,NaN,5.2,NaN,NaN,18.8,NaN,173.330
80,Genet,Genetta,carni,Carnivora,NaN,6.3,1.3,NaN,17.7,0.0175,2.000
81,Arctic fox,Vulpes,carni,Carnivora,NaN,12.5,NaN,NaN,11.5,0.0445,3.380
82,Red fox,Vulpes,carni,Carnivora,NaN,9.8,2.4,0.350000,14.2,0.0504,4.230

In [13]:
# description of the data
# summary statistics / descriptive statistics of the dataset/dataframe
df.describe()

       sleep_total  sleep_rem  sleep_cycle      awake    brainwt       bodywt
count    83.000000  61.000000    32.000000  83.000000  56.000000    83.000000
mean     10.433735   1.875410     0.439583  13.567470   0.281581   166.136349
std       4.450357   1.298288     0.358680   4.452085   0.976414   786.839732
min       1.900000   0.100000     0.116667   4.100000   0.000140     0.005000
25%       7.850000   0.900000     0.183333  10.250000   0.002900     0.174000
50%      10.100000   1.500000     0.333333  13.900000   0.012400     1.670000
75%      13.750000   2.400000     0.579167  16.150000   0.125500    41.750000
max      19.900000   6.600000     1.500000  22.100000   5.712000  6654.000000

In [14]:
# the null values if any in the dataset
df.isnull()

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
0,False,False,False,False,False,False,True,True,False,True,False
1,False,False,False,False,True,False,False,True,False,False,False
2,False,False,False,False,False,False,False,True,False,True,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
78,False,False,False,False,True,False,False,False,False,False,False
79,False,False,False,False,True,False,True,True,False,True,False
80,False,False,False,False,True,False,False,True,False,False,False
81,False,False,False,False,True,False,True,True,False,False,False
82,False,False,False,False,True,False,False,False,False,False,False

In [15]:
# df.isnull() returns a dataset with boolean values,
# where ever there is data, the location/cell/value is marked/masked as True and where ever there are null/NA/Nan values
# that is marked as False

In [17]:
# run an aggregation on .isnull() method to check the count of the null values
df.isnull().sum()

name             0
genus            0
vore             7
order            0
conservation    29
sleep_total      0
sleep_rem       22
sleep_cycle     51
awake            0
brainwt         27
bodywt           0
dtype: int64

In [ ]:
# drop rows which has NaN ( not suggeted for small datasets)

In [18]:
# extracting individual columns from the dataframe/table
# Dataframe.ColumnName
# DataFrame['ColumnName'] 
df.sleep_cycle

0          NaN
1          NaN
2          NaN
3     0.133333
4     0.666667
        ...
78    0.233333
79         NaN
80         NaN
81         NaN
82    0.350000
Name: sleep_cycle, Length: 83, dtype: float64

In [19]:
df.sleep_rem

0     NaN
1     1.8
2     2.4
3     2.3
4     0.7
     ...
78    2.6
79    NaN
80    1.3
81    NaN
82    2.4
Name: sleep_rem, Length: 83, dtype: float64

In [20]:
df['name']

0                        Cheetah
1                     Owl monkey
2                Mountain beaver
3     Greater short-tailed shrew
4                            Cow
                 ...
78                    Tree shrew
79          Bottle-nosed dolphin
80                         Genet
81                    Arctic fox
82                       Red fox
Name: name, Length: 83, dtype: object

In [22]:
sample_dict = {
'sandles':1220,
'idly rava':100,
'jeans':1111,
'fruit':'apple',
'cooldrink':'butter milk'
}
sample_dict

{'sandles': 1220,
 'idly rava': 100,
 'jeans': 1111,
 'fruit': 'apple',
 'cooldrink': 'butter milk'}

In [23]:
sample_dict['jeans']

1111

In [24]:
# to print all the columns in a dataframe/dataset
# dataFrame.columns
df.columns

Index(['name', 'genus', 'vore', 'order', 'conservation', 'sleep_total',
       'sleep_rem', 'sleep_cycle', 'awake', 'brainwt', 'bodywt'],
      dtype='object')

In [27]:
df[['name','order','genus','sleep_total']]

                          name         order       genus  sleep_total
0                      Cheetah     Carnivora    Acinonyx         12.1
1                   Owl monkey      Primates       Aotus         17.0
2              Mountain beaver      Rodentia  Aplodontia         14.4
3   Greater short-tailed shrew  Soricomorpha     Blarina         14.9
4                          Cow  Artiodactyla         Bos          4.0
..                         ...           ...         ...          ...
78                  Tree shrew    Scandentia      Tupaia          8.9
79        Bottle-nosed dolphin       Cetacea    Tursiops          5.2
80                       Genet     Carnivora     Genetta          6.3
81                  Arctic fox     Carnivora      Vulpes         12.5
82                     Red fox     Carnivora      Vulpes          9.8

[83 rows x 4 columns]

In [33]:
# to print multiple columns, we pass the list of columns into DataFrame[List-of-columns]
df[
    ['name','order','sleep_total','bodywt']
]

                              name            order  sleep_total    bodywt
0                          Cheetah        Carnivora         12.1    50.000
1                       Owl monkey         Primates         17.0     0.480
2                  Mountain beaver         Rodentia         14.4     1.350
3       Greater short-tailed shrew     Soricomorpha         14.9     0.019
4                              Cow     Artiodactyla          4.0   600.000
5                 Three-toed sloth           Pilosa         14.4     3.850
6                Northern fur seal        Carnivora          8.7    20.490
7                     Vesper mouse         Rodentia          7.0     0.045
8                              Dog        Carnivora         10.1    14.000
9                         Roe deer     Artiodactyla          3.0    14.800
10                            Goat     Artiodactyla          5.3    33.500
11                      Guinea pig         Rodentia          9.4     0.728
12                          Grivet         Primates         10.0     4.750
13                      Chinchilla         Rodentia         12.5     0.420
14                 Star-nosed mole     Soricomorpha         10.3     0.060
15       African giant pouched rat         Rodentia          8.3     1.000
16       Lesser short-tailed shrew     Soricomorpha          9.1     0.005
17            Long-nosed armadillo        Cingulata         17.4     3.500
18                      Tree hyrax       Hyracoidea          5.3     2.950
19          North American Opossum  Didelphimorphia         18.0     1.700
20                  Asian elephant      Proboscidea          3.9  2547.000
21                   Big brown bat       Chiroptera         19.7     0.023
22                           Horse   Perissodactyla          2.9   521.000
23                          Donkey   Perissodactyla          3.1   187.000
24               European hedgehog   Erinaceomorpha         10.1     0.770
25                    Patas monkey         Primates         10.9    10.000
26       Western american chipmunk         Rodentia         14.9     0.071
27                    Domestic cat        Carnivora         12.5     3.300
28                          Galago         Primates          9.8     0.200
29                         Giraffe     Artiodactyla          1.9   899.995
30                     Pilot whale          Cetacea          2.7   800.000
31                       Gray seal        Carnivora          6.2    85.000
32                      Gray hyrax       Hyracoidea          6.3     2.625
33                           Human         Primates          8.0    62.000
34                  Mongoose lemur         Primates          9.5     1.670
35                African elephant      Proboscidea          3.3  6654.000
36            Thick-tailed opposum  Didelphimorphia         19.4     0.370
37                         Macaque         Primates         10.1     6.800
38                Mongolian gerbil         Rodentia         14.2     0.053
39                  Golden hamster         Rodentia         14.3     0.120
40                           Vole          Rodentia         12.8     0.035
41                     House mouse         Rodentia         12.5     0.022
42                Little brown bat       Chiroptera         19.9     0.010
43            Round-tailed muskrat         Rodentia         14.6     0.266
44                      Slow loris         Primates         11.0     1.400
45                            Degu         Rodentia          7.7     0.210
46      Northern grasshopper mouse         Rodentia         14.5     0.028
47                          Rabbit       Lagomorpha          8.4     2.500
48                           Sheep     Artiodactyla          3.8    55.500
49                      Chimpanzee         Primates          9.7    52.200
50                           Tiger        Carnivora         15.8   162.564
51                          Jaguar        Carnivora         10.4   100.000
52                            Lion        Carnivora         13.5   161.499
53                          Baboon         Primates          9.4    25.235
54                 Desert hedgehog   Erinaceomorpha         10.3     0.550
55                           Potto         Primates         11.0     1.100
56                      Deer mouse         Rodentia         11.5     0.021
57                       Phalanger    Diprotodontia         13.7     1.620
58                    Caspian seal        Carnivora          3.5    86.000
59                 Common porpoise          Cetacea          5.6    53.180
60                         Potoroo    Diprotodontia         11.1     1.100
61                 Giant armadillo        Cingulata         18.1    60.000
62                      Rock hyrax       Hyracoidea          5.4     3.600
63                  Laboratory rat         Rodentia         13.0     0.320
64           African striped mouse         Rodentia          8.7     0.044
65                 Squirrel monkey         Primates          9.6     0.743
66           Eastern american mole     Soricomorpha          8.4     0.075
67                      Cotton rat         Rodentia         11.3     0.148
68                        Mole rat         Rodentia         10.6     0.122
69          Arctic ground squirrel         Rodentia         16.6     0.920
70  Thirteen-lined ground squirrel         Rodentia         13.8     0.101
71  Golden-mantled ground squirrel         Rodentia         15.9     0.205
72                      Musk shrew     Soricomorpha         12.8     0.048
73                             Pig     Artiodactyla          9.1    86.250
74             Short-nosed echidna      Monotremata          8.6     4.500
75       Eastern american chipmunk         Rodentia         15.8     0.112
76                 Brazilian tapir   Perissodactyla          4.4   207.501
77                          Tenrec     Afrosoricida         15.6     0.900
78                      Tree shrew       Scandentia          8.9     0.104
79            Bottle-nosed dolphin          Cetacea          5.2   173.330
80                           Genet        Carnivora          6.3     2.000
81                      Arctic fox        Carnivora         12.5     3.380
82                         Red fox        Carnivora          9.8     4.230

In [35]:
# sorting of values
df.sort_values(by='sleep_total',ascending=False)

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
42,Little brown bat,Myotis,insecti,Chiroptera,NaN,19.9,2.0,0.200000,4.10,0.00025,0.010
21,Big brown bat,Eptesicus,insecti,Chiroptera,lc,19.7,3.9,0.116667,4.30,0.00030,0.023
36,Thick-tailed opposum,Lutreolina,carni,Didelphimorphia,lc,19.4,6.6,NaN,4.60,NaN,0.370
61,Giant armadillo,Priodontes,insecti,Cingulata,en,18.1,6.1,NaN,5.90,0.08100,60.000
19,North American Opossum,Didelphis,omni,Didelphimorphia,lc,18.0,4.9,0.333333,6.00,0.00630,1.700
17,Long-nosed armadillo,Dasypus,carni,Cingulata,lc,17.4,3.1,0.383333,6.60,0.01080,3.500
1,Owl monkey,Aotus,omni,Primates,NaN,17.0,1.8,NaN,7.00,0.01550,0.480
69,Arctic ground squirrel,Spermophilus,herbi,Rodentia,lc,16.6,NaN,NaN,7.40,0.00570,0.920
71,Golden-mantled ground squirrel,Spermophilus,herbi,Rodentia,lc,15.9,3.0,NaN,8.10,NaN,0.205
50,Tiger,Panthera,carni,Carnivora,en,15.8,NaN,NaN,8.20,NaN,162.564
75,Eastern american chipmunk,Tamias,herbi,Rodentia,NaN,15.8,NaN,NaN,8.20,NaN,0.112
77,Tenrec,Tenrec,omni,Afrosoricida,NaN,15.6,2.3,NaN,8.40,0.00260,0.900
26,Western american chipmunk,Eutamias,herbi,Rodentia,NaN,14.9,NaN,NaN,9.10,NaN,0.071
3,Greater short-tailed shrew,Blarina,omni,Soricomorpha,lc,14.9,2.3,0.133333,9.10,0.00029,0.019
43,Round-tailed muskrat,Neofiber,herbi,Rodentia,nt,14.6,NaN,NaN,9.40,NaN,0.266
46,Northern grasshopper mouse,Onychomys,carni,Rodentia,lc,14.5,NaN,NaN,9.50,NaN,0.028
5,Three-toed sloth,Bradypus,herbi,Pilosa,NaN,14.4,2.2,0.766667,9.60,NaN,3.850
2,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,NaN,9.60,NaN,1.350
39,Golden hamster,Mesocricetus,herbi,Rodentia,en,14.3,3.1,0.200000,9.70,0.00100,0.120
38,Mongolian gerbil,Meriones,herbi,Rodentia,lc,14.2,1.9,NaN,9.80,NaN,0.053
70,Thirteen-lined ground squirrel,Spermophilus,herbi,Rodentia,lc,13.8,3.4,0.216667,10.20,0.00400,0.101
57,Phalanger,Phalanger,NaN,Diprotodontia,NaN,13.7,1.8,NaN,10.30,0.01140,1.620
52,Lion,Panthera,carni,Carnivora,vu,13.5,NaN,NaN,10.50,NaN,161.499
63,Laboratory rat,Rattus,herbi,Rodentia,lc,13.0,2.4,0.183333,11.00,0.00190,0.320
40,Vole,Microtus,herbi,Rodentia,NaN,12.8,NaN,NaN,11.20,NaN,0.035
72,Musk shrew,Suncus,NaN,Soricomorpha,NaN,12.8,2.0,0.183333,11.20,0.00033,0.048
13,Chinchilla,Chinchilla,herbi,Rodentia,domesticated,12.5,1.5,0.116667,11.50,0.00640,0.420
27,Domestic cat,Felis,carni,Carnivora,domesticated,12.5,3.2,0.416667,11.50,0.02560,3.300
81,Arctic fox,Vulpes,carni,Carnivora,NaN,12.5,NaN,NaN,11.50,0.04450,3.380
41,House mouse,Mus,herbi,Rodentia,nt,12.5,1.4,0.183333,11.50,0.00040,0.022
0,Cheetah,Acinonyx,carni,Carnivora,lc,12.1,NaN,NaN,11.90,NaN,50.000
56,Deer mouse,Peromyscus,NaN,Rodentia,NaN,11.5,NaN,NaN,12.50,NaN,0.021
67,Cotton rat,Sigmodon,herbi,Rodentia,NaN,11.3,1.1,0.150000,12.70,0.00118,0.148
60,Potoroo,Potorous,herbi,Diprotodontia,NaN,11.1,1.5,NaN,12.90,NaN,1.100
55,Potto,Perodicticus,omni,Primates,lc,11.0,NaN,NaN,13.00,NaN,1.100
44,Slow loris,Nyctibeus,carni,Primates,NaN,11.0,NaN,NaN,13.00,0.01250,1.400
25,Patas monkey,Erythrocebus,omni,Primates,lc,10.9,1.1,NaN,13.10,0.11500,10.000
68,Mole rat,Spalax,NaN,Rodentia,NaN,10.6,2.4,NaN,13.40,0.00300,0.122
51,Jaguar,Panthera,carni,Carnivora,nt,10.4,NaN,NaN,13.60,0.15700,100.000
54,Desert hedgehog,Paraechinus,NaN,Erinaceomorpha,lc,10.3,2.7,NaN,13.70,0.00240,0.550
14,Star-nosed mole,Condylura,omni,Soricomorpha,lc,10.3,2.2,NaN,13.70,0.00100,0.060
24,European hedgehog,Erinaceus,omni,Erinaceomorpha,lc,10.1,3.5,0.283333,13.90,0.00350,0.770
37,Macaque,Macaca,omni,Primates,NaN,10.1,1.2,0.750000,13.90,0.17900,6.800
8,Dog,Canis,carni,Carnivora,domesticated,10.1,2.9,0.333333,13.90,0.07000,14.000
12,Grivet,Cercopithecus,omni,Primates,lc,10.0,0.7,NaN,14.00,NaN,4.750
82,Red fox,Vulpes,carni,Carnivora,NaN,9.8,2.4,0.350000,14.20,0.05040,4.230
28,Galago,Galago,omni,Primates,NaN,9.8,1.1,0.550000,14.20,0.00500,0.200
49,Chimpanzee,Pan,omni,Primates,NaN,9.7,1.4,1.416667,14.30,0.44000,52.200
65,Squirrel monkey,Saimiri,omni,Primates,NaN,9.6,1.4,NaN,14.40,0.02000,0.743
34,Mongoose lemur,Lemur,herbi,Primates,vu,9.5,0.9,NaN,14.50,NaN,1.670
53,Baboon,Papio,omni,Primates,NaN,9.4,1.0,0.666667,14.60,0.18000,25.235
11,Guinea pig,Cavis,herbi,Rodentia,domesticated,9.4,0.8,0.216667,14.60,0.00550,0.728
73,Pig,Sus,omni,Artiodactyla,domesticated,9.1,2.4,0.500000,14.90,0.18000,86.250
16,Lesser short-tailed shrew,Cryptotis,omni,Soricomorpha,lc,9.1,1.4,0.150000,14.90,0.00014,0.005
78,Tree shrew,Tupaia,omni,Scandentia,NaN,8.9,2.6,0.233333,15.10,0.00250,0.104
6,Northern fur seal,Callorhinus,carni,Carnivora,vu,8.7,1.4,0.383333,15.30,NaN,20.490
64,African striped mouse,Rhabdomys,omni,Rodentia,NaN,8.7,NaN,NaN,15.30,NaN,0.044
74,Short-nosed echidna,Tachyglossus,insecti,Monotremata,NaN,8.6,NaN,NaN,15.40,0.02500,4.500
47,Rabbit,Oryctolagus,herbi,Lagomorpha,domesticated,8.4,0.9,0.416667,15.60,0.01210,2.500
66,Eastern american mole,Scalopus,insecti,Soricomorpha,lc,8.4,2.1,0.166667,15.60,0.00120,0.075
15,African giant pouched rat,Cricetomys,omni,Rodentia,NaN,8.3,2.0,NaN,15.70,0.00660,1.000
33,Human,Homo,omni,Primates,NaN,8.0,1.9,1.500000,16.00,1.32000,62.000
45,Degu,Octodon,herbi,Rodentia,lc,7.7,0.9,NaN,16.30,NaN,0.210
7,Vesper mouse,Calomys,NaN,Rodentia,NaN,7.0,NaN,NaN,17.00,NaN,0.045
80,Genet,Genetta,carni,Carnivora,NaN,6.3,1.3,NaN,17.70,0.01750,2.000
32,Gray hyrax,Heterohyrax,herbi,Hyracoidea,lc,6.3,0.6,NaN,17.70,0.01227,2.625
31,Gray seal,Haliochoerus,carni,Carnivora,lc,6.2,1.5,NaN,17.80,0.32500,85.000
59,Common porpoise,Phocoena,carni,Cetacea,vu,5.6,NaN,NaN,18.45,NaN,53.180
62,Rock hyrax,Procavia,NaN,Hyracoidea,lc,5.4,0.5,NaN,18.60,0.02100,3.600
10,Goat,Capri,herbi,Artiodactyla,lc,5.3,0.6,NaN,18.70,0.11500,33.500
18,Tree hyrax,Dendrohyrax,herbi,Hyracoidea,lc,5.3,0.5,NaN,18.70,0.01230,2.950
79,Bottle-nosed dolphin,Tursiops,carni,Cetacea,NaN,5.2,NaN,NaN,18.80,NaN,173.330
76,Brazilian tapir,Tapirus,herbi,Perissodactyla,vu,4.4,1.0,0.900000,19.60,0.16900,207.501
4,Cow,Bos,herbi,Artiodactyla,domesticated,4.0,0.7,0.666667,20.00,0.42300,600.000
20,Asian elephant,Elephas,herbi,Proboscidea,en,3.9,NaN,NaN,20.10,4.60300,2547.000
48,Sheep,Ovis,herbi,Artiodactyla,domesticated,3.8,0.6,NaN,20.20,0.17500,55.500
58,Caspian seal,Phoca,carni,Carnivora,vu,3.5,0.4,NaN,20.50,NaN,86.000
35,African elephant,Loxodonta,herbi,Proboscidea,vu,3.3,NaN,NaN,20.70,5.71200,6654.000
23,Donkey,Equus,herbi,Perissodactyla,domesticated,3.1,0.4,NaN,20.90,0.41900,187.000
9,Roe deer,Capreolus,herbi,Artiodactyla,lc,3.0,NaN,NaN,21.00,0.09820,14.800
22,Horse,Equus,herbi,Perissodactyla,domesticated,2.9,0.6,1.000000,21.10,0.65500,521.000
30,Pilot whale,Globicephalus,carni,Cetacea,cd,2.7,0.1,NaN,21.35,NaN,800.000
29,Giraffe,Giraffa,herbi,Artiodactyla,cd,1.9,0.4,NaN,22.10,NaN,899.995

In [ ]:
# sort_values(by='sleep_total',ascending=True)
# .sort_values(by=column_name,ascending=True or False)

In [36]:
# Binning of sleep_total

In [41]:
# grouping the values and applying the aggregtions on the data
# aggregations - sum, count, min, max 

df.groupby('order')['sleep_total'].mean()

order
Afrosoricida       15.600000
Artiodactyla        4.516667
Carnivora          10.116667
Cetacea             4.500000
Chiroptera         19.800000
Cingulata          17.750000
Didelphimorphia    18.700000
Diprotodontia      12.400000
Erinaceomorpha     10.200000
Hyracoidea          5.666667
Lagomorpha          8.400000
Monotremata         8.600000
Perissodactyla      3.466667
Pilosa             14.400000
Primates           10.500000
Proboscidea         3.600000
Rodentia           12.468182
Scandentia          8.900000
Soricomorpha       11.100000
Name: sleep_total, dtype: float64

In [42]:
df.groupby('order')['sleep_total'].count()

order
Afrosoricida        1
Artiodactyla        6
Carnivora          12
Cetacea             3
Chiroptera          2
Cingulata           2
Didelphimorphia     2
Diprotodontia       2
Erinaceomorpha      2
Hyracoidea          3
Lagomorpha          1
Monotremata         1
Perissodactyla      3
Pilosa              1
Primates           12
Proboscidea         2
Rodentia           22
Scandentia          1
Soricomorpha        5
Name: sleep_total, dtype: int64

In [43]:
df.groupby('order')['sleep_total'].sum()

order
Afrosoricida        15.6
Artiodactyla        27.1
Carnivora          121.4
Cetacea             13.5
Chiroptera          39.6
Cingulata           35.5
Didelphimorphia     37.4
Diprotodontia       24.8
Erinaceomorpha      20.4
Hyracoidea          17.0
Lagomorpha           8.4
Monotremata          8.6
Perissodactyla      10.4
Pilosa              14.4
Primates           126.0
Proboscidea          7.2
Rodentia           274.3
Scandentia           8.9
Soricomorpha        55.5
Name: sleep_total, dtype: float64

In [ ]:
# Imbalanced Datasets - Different statistical treatments